<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="processTxService" class="com.xiaoniu56.splite.gateway.txservice.impl.ProcessTxServiceImpl">
        <property name="queryMaxSize" value="${batchImport.maxquerysize}"/>
        <property name="processTXDao" ref="processTXDao"/>
    </bean>

    <bean id="batchImportBaseCommand" class="com.xiaoniu56.splite.gateway.action.impl.BaseCommand"
          destroy-method="stop">
        <property name="commandName">
            <value>${batchImport.module.name}</value>
        </property>
        <property name="handler">
            <bean class="com.xiaoniu56.splite.gateway.threads.BaseHandler">
                <constructor-arg name="maxNum" value="${batchImport.threadpoolnum}"></constructor-arg>
                <property name="service" ref="processTxService"></property>
                <property name="busiSleepTime" value="${batchImport.busisleeptime}"></property>
                <property name="heartBeatTime" value="${batchImport.heartbeattime}"></property>
            </bean>
        </property>
    </bean>
</beans>